.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

.block.block1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
 }
.block.block2{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.block.block3{
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}
.block.block4{
    grid-row: 5 / 6;
    grid-column: 5 / 6;
}
.block.block5{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.block.block6{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.block.block7{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}
.block.block8{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.block.block9{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}