.colorDemo {
	width:100px;
	height:100px;
	border:1px solid black;
}
.slider{
	width: 80%;
	text-align: left;
}
p{
	display: inline-flex;
}
section{
	display: inline-block;
}
.sliders{
	width:50%;
}
.sliders p{
	text-align: right;
}
.sliders .slider{
	text-align: left;
}
